html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    background-color: #f9f9f9;
}

header {
    background-color: inherit;    
}

main {
    padding: 0 32px;
}

.descricao, .descricao-escritorio, h1 + p, h3 + p {
    color: #978D85;
}

.descricao, .descricao-escritorio, .experiencias ul{
    line-height: 1.4;
}

.sticky {
    position: fixed;
    top: 0;
    width:100%;
    box-sizing:border-box;
    z-index:1;
}  

header div {
    border-bottom: solid 0.5px #eeeeee; 
}

header, nav {
    display: flex;
}
nav {
    width:100%;
}

nav ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 16px 32px 0 32px;
    text-align: center;
}

header img {
    margin-right: 8px;
    text-align: center;
    width: 13.86vw;
}

nav ul a {
    padding: 16px 0 16px 0;
    flex-grow:1;
    /* font-size: 16px; */
    font-style: italic;
    color: inherit;
    text-decoration: none;
    /* font-size: calc(16px + 8 * ((100vw - 320px) / 680)); */
    font-size: 4.26vw;
}

a:focus {
    outline: none;
}

nav ul a:focus {
    color: #bd5319;
}

 nav ul li:first-child a {
    padding-left: 0px;
}

.bio {
    text-align: center;
}

.foto-perfil {
    margin-top: 32px;
    border-radius: 50%;
    border: solid 2px #222;
}

h1, h2, h3 {
    font-family: 'Kadwa';
}

h1 {
    font-size: 24px;
    line-height: 100%;
    margin-top: 16px;
}

h1 + p {
    margin-top: 4px;
}

.cargo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}

.cargo p {
    margin-left: 8px;
}

.botao-whatsapp {
    display: inline-block;
    text-decoration: none;
    margin-top: 32px;
    border: solid 2px #BD5319;
    border-radius: 2px;
    background-color: inherit;
    padding: 16px 8px;
    cursor: pointer;
    color: #BD5319;
    transition: .3s;
}

.botao-whatsapp:hover {
    transition: .3s;
    background-color: #BD5319;
    color: #f9f9f9;
}

.botao-whatsapp img {
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}

.botao-whatsapp span {
    display: inline;
    vertical-align: middle;
    font-family: 'Kadwa';
    font-size: 16px;
    color:inherit;
    line-height:0;
}

.hr-fraco {
    margin-top: 32px;
    border: solid .5px #eee;
    border-radius: 2px;
}


.descricao {
    margin-top: 27px;
    font-style: italic;
}

.hr-forte {
    margin: 32px 0;
    border: solid 1px #DDD;
    border-radius: 2px;
}
.icone-titulo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    margin-top: 8px;
    text-align: center;
    font-size: 24px;
}

h3 {
    font-size: 16px;
    margin-top: 40px;
}

h3 + p {
    font-style: italic;
    font-size: 14px;
    margin-top: 8px;
}

.descricao-escritorio {
    margin-top: 16px;
}

.experiencias h4 {
    margin-top: 32px;
}

.experiencias h4 span {
    color: #BD5319;
}

.experiencias ul {
    margin-top: 8px;
    padding-left: 25px;
}

.experiencias li {
    position: relative;
    padding-top: 16px;        
}
.experiencias li:before {
    content: "";
    position: absolute;
    top: 24px;
    left: -25px;
    width: 8px;
    height: 8px;
    background-color: #F8A06F;
    border-radius:50% ;
}


.experiencias li::marker {
    padding-bottom: 50%;
}

/*.experiencias li::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 8px;
    left: -8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
}*/

.educacao h3 {
    position: relative;
    display: inline-block;
}

.educacao h3::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius:1px;
    background-color: #F8A06F;
    top: 9px;
    z-index: -1;
}

.item-formacao {
    display: flex;
    margin-top: 30px;
}

.item-formacao img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: solid 1px #222;
    box-sizing: border-box;
    margin-right: 16px;
}

.item-formacao h5 {
    font-family: 'Kadwa';
    font-size: 16px;
    margin-top: 12px;
}

.item-formacao p {
    color: #978D85;
    line-height: 1.3;
    font-size: 14px;
    margin-top: 2px;
}

.item-formacao p span {
    letter-spacing: .04em;
}

.item-formacao p+p {
    font-size: 12px;
    line-height: inherit;
    color: inherit;
    margin-top: 12px;
}

.curso {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    border: solid 2px #222;
    border-radius: 2px;
    box-sizing: border-box;
}

.logo-universidade{
    display: flex;
    justify-content: center;
    height: 128px;
    background-color: #00356B;
}

.descricao-curso {
    padding: 14px 14px 14px 14px;
}

.descricao-curso h4{
    font: 18px 'Kadwa';
    line-height: 1.2;
}

.descricao-curso h5 {
    font-size: 14px;
    color: #978D85;
    margin-top: 2px;
}

.descricao-curso p {
    margin-top:13px;
}

.claro .logo-universidade {
    background-color: #f9f9f9;
}

.claro  {
    background-color: #00356B;
}

.claro .descricao-curso h4, .claro .descricao-curso p{
    color: #f9f9f9
}

.claro .descricao-curso h5 {
    color: #ddd;
}

.contato .wrapper>p {
    margin-top: 27px;
    margin-bottom: 32px;
}


.contato .item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.contato .item:last-child {
    margin-bottom: 64px;
}

.contato .item img {
    margin-right: 16px;
}

.contato a {
    color: #286DC0;
}

footer {
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px 16px 16px;
    background-color: #222;
    font-size: 14px;
    text-align: center;
    color: #f9f9f9;
}

footer img {
    width: 96px;
}

footer p {
    line-height: 1.5;
}

footer p a {
    color: #63AAFF;
    text-decoration: underline;
}

footer a {
    color: inherit;
}

footer .flaticon {
    font-size: 12px;
    color: #978D85;
    margin-top: 8px;
}

footer .hr-fraco {
    border-color: #2a2a2a;
    margin: 16px 0;
}

@media screen and (max-width: 359px) {
    header img {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    section.idiomas div.wrapper {
        width:100%;
        display: flex;
        justify-content: space-between;
    }

    .graficos div.wrapper section.grafico{
        margin-right:0;
        margin-left: 0;
    }
}

@media screen and (min-width: 480px) {
    header img {
        width: calc(66px + 30 * (100vw - 480px) / 520);
        margin-right: 0;
        max-width: 96px;
    }

    nav ul {
        justify-content: flex-end;
    }
    
    nav ul a li {
        font-size: calc(20px + 4 * (100vw - 480px) / 520);
    }

    nav ul a {
        flex-grow: 0;
        padding: 16px 8px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 20px
    }
    
    .foto-perfil {
        width: 256px;
    }

    h1 {
        font-size: 30px;
    }

    .botao-whatsapp img {
        width: 20px;
    }

    .botao-whatsapp span {
        font-size: 20px;
    }

    .descricao {
        width: 100%;
        max-width: 785px;
        min-width: 534px;
        margin-left: auto;
        margin-right: auto;
    }

    .experiencias {
        width: 100%;
        max-width: 785px;
        min-width: 534px;
        margin-left: auto;
        margin-right: auto;
    }

    .icone-titulo {
        width: 30px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    .educacao h3::before {
        top: 12px;
    }

    h3 + p {
        font-size: 17.5px;
    }

    .item-formacao h5 {
        font-size: 20px;
    }

    .item-formacao p {
        font-size: 17.5px;
    }

    .item-formacao img {
        width: 80px;
        height: 80px;
    }

    .item-formacao p + p {
        font-size: 15px;
    }

    .duas-colunas {
        display: flex;
        justify-content: space-between;
        min-width: 534px;
        max-width: 785px;
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }

    .idiomas {
        margin-left: 32px;
    }
    .formacao {
        margin-right: 32px;
    }

    .grafico:nth-child(1) {
        margin-right: 64px;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .curso {
        min-width: 376px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .contato {
        width: 100%;
        max-width: 785px;
        min-width: 534px;
        margin-left: auto;
        margin-right: auto;
    }
    .contato .wrapper>p {
        margin: 0;
    }

    .contato .wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 32px;
    }
    .contato .item img {
        width: 22.5px;
    }
}

@media (max-height: 560px) {

    header {
        display: block;
    }
    
    nav ul {
        justify-content: center;
    }

    .foto-perfil {
        margin-top: 0px;
        width: 180px;
    }
    
    .botao-whatsapp {
        margin-top: 16px ;
    }

    .bio .hr-fraco {
        margin-top: 16px;
        margin-bottom: 0px;
    }

    .descricao {
        margin-top: 16px;
    }
}

/* Animação */

[data-anime] {
    opacity: 0;
    transition: .4s;
  }
  
  [data-anime="top"] {
    transform: translate3d(0, -50px, 0);
  }
  
  [data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
  }
  
  [data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
  }
  
  [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
  }
  
  [data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }

  /*graficos*/

.graficos  {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .graficos section, .graficos svg {
      position: relative;
      width: 124px;
      height: 124px;
  }

  .graficos .wrapper {
      display: flex;
      justify-content: center; 
      flex-wrap: wrap;
      border-bottom: solid .5px #eee;
  }

  .graficos svg circle {
      width: 124px;
      height: 124px;
      stroke-dasharray: 377;
      stroke-linecap: round;
  }

  .graficos svg circle:nth-child(1) {
      stroke-dashoffset: 0;
  }

  .wrapper .grafico:nth-child(1), .wrapper .grafico:nth-child(2) {
      margin-bottom: 16px;
  }

  .wrapper .grafico:nth-child(1) {
      margin-right: 31px;      
  }

  .wrapper .grafico:nth-child(2) {
      margin-left: 31px;
  }

  .grafico {
    margin-top: 16px;
  }

  [data-grafico] {
    stroke-dashoffset: 377;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    /* transition: .8s cubic-bezier(0.9, 0, 0.3, 1.3); */
    transition: 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
 
  [data-grafico="ingles"].anima {
     stroke-dashoffset: calc(377px - (377px * 0.9) );
  }

  [data-grafico="frances"].anima {
     stroke-dashoffset: calc(377px - (377px * 0.6) );
  }

  [data-grafico="espanhol"].anima {
     stroke-dashoffset: calc(377px - (377px * 0.3) );
  }

  .grafico .sinopse {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .sinopse h5 {
      font-size: .875em;
      font-style: italic;
      margin-top: 8px;
  }


  .float{
    display: flex;
    align-content: center;
    justify-content: center;
	position:fixed;
	width:48px;
	height:48px;
	bottom:32px;
	right:32px;
	background-color:#25d366;
	border-radius:50%;
	box-shadow: 1px 1px 1.5px #ddd;
}

.float img {
    width: 28px;
}